{% extends "layout_no_header.html" %}
{% block body %}
<div class="logoContainer">
    <div class="container">
        <div class="text-center">
            <img class="logo" src="{{ url_for('static', filename='logo.svg')}}">
        </div>
    </div>
</div>
<div class="container not-found">
    <img src="http://media.giphy.com/media/6uGhT1O4sxpi8/giphy.gif" />
</div>

<div class="container not-found">
    Whoops! We didn't find the page you were looking for. Maybe our <a href="/docs">documentation page</a> will help? 
</div>
{% endblock %}
