{% extends "layout.html" %}
{% block body %}
<div class="container">
	<div class="list-group">
		<div class="docs-formatting">
			<p class="about"><strong>DENSITY</strong> estimates how full study spaces are on campus using a live feed of Wi-Fi access data that updates every 15 minutes. Data is anonymized as device counts over a 15 minute period.</p>
			<p class="about"><strong>DENSITY</strong> by ADI is built and maintained by <a href="https://adicu.com/labs">ADI Labs</a> in collaboration with <a href="http://columbiaesc.com/">ESC</a> and <a href="https://cuit.columbia.edu/">CUIT</a>.</p>
			<p class="about">To learn more about <strong>DENSITY</strong>, check out our <a href="https://adicu.com/blog/post/density_data">blog post</a>.</p>
			<p>Map image by <a href="http://www.columbia.edu/files/columbia/content/walking-tour-and-map-3.pdf">Columbia University</a>.</p>
		</div>
	</div>
</div>
{% endblock %}