{% extends "layout.html" %}
{% block body %}
<div class="listContainer">

    {% include 'search.html' %}

    <div class="container">
        <ul class="list-group">
            {% for location in locations %}
              <li class="list-group-item" data-name="{{ location['group_name'] }}" 
                                          data-nickname="{{ auxdata[location['group_name']]['nickname'] }}"
                                          data-location-type="{{ auxdata[location['group_name']]['type'] }}"
                                          data-open-now="{{ auxdata[location['group_name']]['open'] }}">
                <h4>{{ location['group_name'] }}<span class="opening-time">{{times[location['group_name']]}}</span></h4>
                  <button class="feedback-button" onclick="openFeedback('{{ location['group_name'] }}', '{{ location['percent_full'] }}')">Feedback</button>
                  <div class="progress">
                      {% if location['percent_full'] <= 2 %}
                          <div class="progress-bar progress-bar-info progress-bar-striped active"
                             role="progressbar" aria-valuenow="0"
                             aria-valuemin="0" aria-valuemax="100"
                             style="width: 0;">
                             {{ location['percent_full'] }}%
                          </div>
                      {% else %}

                          <div class="progress-bar progress-bar-info progress-bar-striped active"
                             role="progressbar" aria-valuenow="{{location['percent_full']}}"
                             aria-valuemin="0" aria-valuemax="100"
                             style="width: {{location['percent_full']}}%;">
                             {{ location['percent_full'] }}%
                          </div>
                      {% endif %}
                  </div>
              </li>
            {% endfor %}
        </ul>
    </div>
    <div class="update">Last updated {{ last_updated }}</div>
    <div class="update"> 
        <span class="opening-time">
        * Library opening and closing times may vary during Finals week and University Holidays
        </span>
    </div>
</div>
<div class="thanksContainer">
    <div class="container">
        <h4>Special thanks to <img class="logo escLogo" src="{{ url_for('static', filename='img/esc.png')}}">
        </h4>
    </div>
</div>
<div id="feedback" style="display: none;">
  <h2>Feedback</h2>
  <div id="close" onclick="closeFeedback()">x</div>
  <p>We use your feedback to help improve the accuracy of our predictions. How would you rate our current data on the <span id="building" class="blue"></span>, which states that it is <span id="percentage" class="blue"></span><span class="blue">%</span> full?</p>
  <div>
    <div><input type="radio" name="capacity" value="0" id="r1"><label for="r1">Very Low</label></div>
    <div><input type="radio" name="capacity" value="1" id="r2"><label for="r2">Low</label></div>
    <div><input type="radio" name="capacity" value="2" id="r3"><label for="r3">Perfect</label></div>
    <div><input type="radio" name="capacity" value="3" id="r4"><label for="r4">High</label></div>
    <div><input type="radio" name="capacity" value="4" id="r5"><label for="r5">Very High</label></div>
  </div>
  <p class="flex">
    <i>Ex: &#34;Low&#34; means our number is too low and it is actually more crowded.</i> 
    <button id="send-feedback" onclick="sendFeedback()">Submit</button>
  </p>
</div>

{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/capacity.js') }}"></script>
{% endblock %}