{% extends "layout_no_header.html" %}
{% block body %}
<div class="container main-body">
    <div class="text-center">
        <h1>Density <small>by ADI</small></h1>
        <br>
        <p>
            <h4>How full is Butler right now?</h4>
            <h4>Where should I go to study?</h4>
            <h4>These are types of question that Density seeks to answer.</h4>
        </p>
        <p>* Density currently updates every 15 minutes.</p>
    </div>

    <ul class="list-group">
        {% for location in locations %}
        <li class="list-group-item"><h4>{{ location['name'] }}</h4>
            <div class="progress">
              <div class="progress-bar progress-bar-info progress-bar-striped active"
                   role="progressbar" aria-valuenow="{{location['fullness']}}"
                   aria-valuemin="0" aria-valuemax="100"
                   style="width: {{location['fullness']}}%;">
                {{ location['fullness'] }}%
              </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}