<div class="alert-container">
    <div class="alert">
        Check out our new <a href="/map">map</a> feature!
    </div>
    <div id="alert-close">
        &times;
    </div>
</div>
{% extends "layout.html" %}
{% block body %}
<div class="listContainer">
  <div>
  <pstyle="color:black"><center>Last updated {{last_updated}}</center></p>
  </div>
    <div class="container">
        <ul class="list-group">
            {% for location in locations %}
            <li class="list-group-item"><h4>{{ location['name'] }}</h4>
                <div class="progress">
                    {% if location['fullness'] <= 2 %}
                        <div class="progress-bar progress-bar-info progress-bar-striped active"
                           role="progressbar" aria-valuenow="0"
                           aria-valuemin="0" aria-valuemax="100"
                           style="width: 0;">
                           {{ location['fullness'] }}%
                        </div>
                    {% else %}
                        <div class="progress-bar progress-bar-info progress-bar-striped active"
                           role="progressbar" aria-valuenow="{{location['fullness']}}"
                           aria-valuemin="0" aria-valuemax="100"
                           style="width: {{location['fullness']}}%;">
                           {{ location['fullness'] }}%
                        </div>
                    {% endif %}
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="thanksContainer">
    <div class="container">
        <h4>Special thanks to <img class="logo escLogo" src="{{ url_for('static', filename='img/esc.png')}}">
        </h4>
    </div>
</div>

{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/capacity.js') }}"></script>
{% endblock %}