{% extends "layout_no_header.html" %}
{% block body %}
<div class="logoContainer">
    <div class="container">
        <div class="text-center">
            <img class="logo" src="{{ url_for('static', filename='logo.svg')}}">
        </div>
    </div>
</div>
<div class="textContainer">
    <div class="container">
        <div>
            <p class="about">This is the <strong>documentation</strong> page for the Density API.</p>
            <p>To access this API, you'll need to <a href="https://density.adicu.com/auth">get an API key</a> by logging in with your Columbia-affiliated email.</p>
        </div>
    </div>
</div>	
{% endblock %}