{% extends "layout.html" %}
{% block body %}
<div class="container">
<div class="list-group">
<div class="docs-formatting">

<p class="about">This is the <strong>documentation</strong> page for the Density API.</p>
<p>To access this API, you'll need to <a href="/auth">get an API key</a> by logging in with your Columbia-affiliated email.</p>

<h2>Overview</h2>

<p>Columbia has shared with ADI a live stream of the number of devices connected to routers at various locations on campus. New counts are added every fifteen minutes.</p>

<h3>Get an API Key</h3>

<p>API keys are <a href="/auth">available</a> for Columbia University affiliates with valid email addresses <code>uni@*.columbia.edu</code> <code>uni@barnard.edu</code>.</p>

<p>Visit <a href="/auth">density.adicu.com/auth</a> and click on <code>get access</code>.</p>

<h3>Using API Keys</h3>

<p>Most routes require an API key to return data. Without the API key, you'll get an error (described under errors).</p>

<p>To include the API key in your request, you can either:</p>

<ul>
<li><p> Append <code>?auth_token=[your auth token]</code> to your query URL.</p></li>
<li><p> Include a header parameter <code>Authorization-Token</code> with your auth token in your request.</p></li>
</ul>


<h3>Definitions</h3>

<p>Please see <a href="/docs/building_info">http://density.adicu.com/docs/building_info</a> for a table of the available building names, group names, building ids and group ids.</p>

<ul>
<li>Building

<ul>
<li>Lerner, John Jay, etc.</li>
</ul>
</li>
<li>Group

<ul>
<li>Some buildings have multiple routers which are grouped together, typically by floor.</li>
<li>Lerner-1, Butler-2, etc.</li>
</ul>
</li>
<li>Inputs

<ul>
<li>group_id

<ul>
<li>The numerical ID of the router group.</li>
</ul>
</li>
<li>building_id a.k.a. parent_id

<ul>
<li>The numerical ID of the building.</li>
</ul>
</li>
<li>time

<ul>
<li>Times are in <strong>Eastern Standard Time</strong>.  See Errors below for timezone issues. </li>
<li>Please use <a href="http://en.wikipedia.org/wiki/ISO_8601">ISO 8601</a> formatting: <code>YYYY-MM-DD</code> or <code>YYYY-MM-DDThh:mm</code></li>
</ul>
</li>
</ul>
</li>
</ul>


<h3>Routes</h3>

<ul>
<li>Latest Data

<ul>
<li><strong>/latest</strong>

<ul>
<li>Returns the most recent data.</li>
</ul>
</li>
<li><strong>/latest/group/&lt;group_id></strong>

<ul>
<li>Returns the most recent data for the specified group.</li>
</ul>
</li>
<li><strong>/latest/building/&lt;building_id></strong>

<ul>
<li>Returns the most recent data for the speciifed building.</li>
</ul>
</li>
</ul>
</li>
<li>Ranged Data

<ul>
  <li>Ranged data includes data up to <strong>but not including</strong> the end time</li>
<li><strong>/window/&lt;start_time>/&lt;end_time>/group/&lt;group_id></strong>

<ul>
<li>Returns the data points within the specified range of times for the group.</li>
</ul>
</li>
<li><strong>/window/&lt;start_time>/&lt;end_time>/building/&lt;building_id></strong>

<ul>
<li>Returns the data points within the specified range of times for the building.</li></li></ul>
<li>For longer time ranges, the API returns paginated data for every 100 entries.
In order to get to the next hundred entries, we provide a url at the end of the page.</li>

</ul>

<pre><code> {
    client_count: 699,
    dump_time: "Wed, 29 Oct 2014 16:45:00 GMT",
    group_id: 23,
    group_name: "Uris/Watson Library",
    parent_id: 2,
    parent_name: "Uris"
  }
],
next_page: "http://density.adicu.com/window/2014-10-29T05:00/2014-11-29T15:45/building/2?auth_token=your_token&offset=301"
</code></pre>

<li>Day Aggregate

<ul>
<li><strong>/day/&lt;day>/group/&lt;group_id></strong>

<ul>
<li>Returns the aggregate data for the specified day and group.</li>
</ul>
</li>
<li><strong>/day/&lt;day>/building/&lt;building_id></strong>

<ul>
<li>Returns the aggregate data for the specified day and building.</li>
</ul>
</li>
</ul>
</li>
<li>Return Format

<ul>
<li>JSON with client_count, dumptime, group_id, group_name, parent_id, and parent_name</li>
</ul>

<pre><code> {
"data": [
 {
   "client_count": 2, 
   "dump_time": "Fri, 02 Jan 2015 00:00:00 GMT", 
   "group_id": 23, 
   "group_name": "Uris/Watson Library", 
   "parent_id": 2, 
   "parent_name": "Uris"
 }, 
</code></pre></li>
</ul>

<h3>Example</h3>

<p>This example grabs data from January 14th at 8:00 AM to 9:30 PM using a <code>window</code> endpoint query.</p>

<ul>
<li>Input URL</li>
<pre><code>http://density.adicu.com/window/2014-10-10T08:00/2014-10-10T21:30/building/75?auth_token=[auth token]
</code></pre>
<li>Result</li>
<pre><code>{
  "data": [
    {
      "client_count": 4, 
      "dump_time": "Fri, 10 Oct 2014 21:15:00 GMT", 
      "group_id": 155, 
      "group_name": "JJ's Place", 
      "parent_id": 75, 
      "parent_name": "John Jay"
    }, 
    {
      "client_count": 3, 
      "dump_time": "Fri, 10 Oct 2014 21:15:00 GMT", 
      "group_id": 125, 
      "group_name": "John Jay Dining Hall", 
      "parent_id": 75, 
      "parent_name": "John Jay"
    }, 
    ...
    {
      "client_count": 6, 
      "dump_time": "Fri, 10 Oct 2014 09:00:00 GMT", 
      "group_id": 125, 
      "group_name": "John Jay Dining Hall", 
      "parent_id": 75, 
      "parent_name": "John Jay"
    }
  ], 
  "next_page": "http://density.adicu.com/window/2014-10-10T08:00/2014-10-10T21:30/building/75?auth_token=[auth token]&offset=100"
} 
</code></pre>
</ul>

<h3>Errors</h3>

<p>Parameter errors will be returned in JSON format with a string representation of the error under the field <code>error</code>.</p>

<ul>
<li>JSON responses list dump_time as being in GMT when the times are in <strong>EST</strong></li>

<li>Authentication

<ul>
<li>"No authorization token provided."

<ul>
<li>No authentication token was provided with your request. API requests must include authentication tokens, acquired at http://density.adicu.com/auth.</li>
</ul>
</li>
<li>"Invalid authentication token."

<ul>
<li>An expired or improper authentication token was used with your request. Ensure you're using the most recent token generated with your email.</li>
</ul>
</li>
</ul>
</li>
</ul>	
</div>
</div>
</div>
{% endblock %}