{% extends "layout.html" %}
{% block body %}
<article id="data" data-locations='{{locations|tojson}}'></article>
<div id="mapContainer">
	<object id="map" data="{{ url_for('static', filename='img/map.svg') }}" type="image/svg+xml">
	</object>
	<!-- Definition for a mouseover popup that appears when you're over a valid map element -->
	<div id="locationPopup" class="popup"></div>
</div>

<!-- Script for populating map colors -->

<div class="thanksContainer">
    <div class="container">
        <h4>Special thanks to <img class="logo escLogo" src="{{ url_for('static', filename='img/esc.png')}}">
        </h4>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/map.js') }}"></script>
{% endblock %}
