{% extends "layout.html" %}
{% block body %}

<link href="http://cdn.pydata.org/bokeh/release/bokeh-0.11.1.min.css" 
  rel="stylesheet" type="text/css">
<script src="http://cdn.pydata.org/bokeh/release/bokeh-0.11.1.min.js"></script>
{{ css_script|safe }}
{{ script|safe }}

<div class="container">
  <div class="col-12"  style="text-align:center;">
    <h4 style="margin-top: 30px;">Below is the predicted capacity of each building for today.<br><br></h4>
  </div>
</div>

<div class="container">
    <div class="searchContainer">
        <input type="text" class="searchTerm" id="search" onkeyup="searchLocations()" autocomplete= "off">
        <button type="submit" class="searchButton">
            <i class="fa fa-search"></i>
        </button>
    </div>
</div>

<div class="container">
    <div class = "btnContainer">
      <div id="locationBtnContainer" align="left">
          <input type="radio"  name="location-filter" id="library" value="library" onclick = "searchLocations()"/> <label for="library"> Library </label>
          <input type="radio"  name="location-filter" id="center" value="center" onclick = "searchLocations()"/> <label for="center"> Student Center </label>
          <input type="radio"  name="location-filter" id="dining" value="dining" onclick = "searchLocations()"/> <label for="dining"> Dining Hall </label>
          <button class="clear" onclick="clearFilter('location-filter')">(x)</button>
      </div>

      <div id="openBtnContainer" align="right">
          <input type="radio" class="filterTab" name="open-filter" id="open" value="True" onclick = "searchLocations()"/> <label for="open"> Open Now </label>
          <input type="radio" class="filterTab" name="open-filter" id="closed" value="False" onclick = "searchLocations()"/> <label for="closed">Closed </label>
          <button class="clear" onclick="clearFilter('open-filter')">(x)</button>
      </div>
    </div>
</div>


<div class="listContainer">
  <ul class="list-group">
    {% for location_name, d in divs.items() %}
    <li class="list-group-item" data-name="{{ location_name }}" 
                                data-nickname="{{ auxdata[location_name]['nickname'] }}"
                                data-location-type="{{ auxdata[location_name]['type'] }}"
                                data-open-now="{{ auxdata[location_name]['open'] }}">
      <h4>{{location_name}}</h4>
      <div class='graph'>
        {{ d|safe }}
      </div>
    </li>
    {% endfor %}
  </ul>
</div>



<script type="text/javascript">
  function searchLocations() {
    var li = document.getElementsByTagName('li');
    var searchQuery = document.getElementById('search').value.toLowerCase();
    var locationFilter = '';
    var openFilter = '';

    var locationBtns = document.getElementsByName('location-filter');
  
    for(var i = 0; i < locationBtns.length; i++){
      if(locationBtns[i].checked){
        locationFilter = locationBtns[i].value;
       }
     }

    var openBtns = document.getElementsByName('open-filter');
  
    for(var i = 0; i < openBtns.length; i++){
      if(openBtns[i].checked){
        openFilter = openBtns[i].value;
       }
     }


    for (i = 0; i < li.length; i++) {
      var name = li[i].getAttribute('data-name').toLowerCase();
      var nickname = li[i].getAttribute('data-nickname').toLowerCase();
      var locationType = li[i].getAttribute('data-location-type');
      var openNow = li[i].getAttribute('data-open-now');

      if ((!name.includes(searchQuery) && !nickname.includes(searchQuery)) ||
          (locationFilter != '' && locationFilter != locationType) ||
          (openFilter != '' && openFilter != openNow)) {
        li[i].style.display = 'none';
      }
      else {
        li[i].style.display = 'block';
      }
    }
  }
  
  function clearFilter(name) {
    var ele = document.getElementsByName(name);
    for(var i=0; i<ele.length; i++)
      ele[i].checked = false;
    searchLocations();
  }
</script>
{% endblock %}
