{% extends "layout.html" %}
{% block body %}

<link href="http://cdn.pydata.org/bokeh/release/bokeh-0.11.1.min.css" 
  rel="stylesheet" type="text/css">
<script src="http://cdn.pydata.org/bokeh/release/bokeh-0.11.1.min.js"></script>
{{ css_script|safe }}
{{ script|safe }}

<div class="container">
  <div class="col-12"  style="text-align:center;">
    <h4 style="margin-top: 30px;">Below is the predicted capacity of each building for today: </h4>
  </div>
</div>


<div class="listContainer">
  <ul class="list-group">
    {% for location_name, d in divs.items() %}
    <li class="list-predict-item"><h4>{{location_name}}</h4>
      <div class='graph'>
        {{ d|safe }}
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
