html, body {
    height: 100%;
    background-color: #F0F0F0;
}

.alert-container {
    font-family: 'Lato', sans-serif;
    position: relative;
    width: 100%;
    background-color: #468fcc;
    color: #fff;
    line-height: 1.5rem;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    max-height: 47px;
    -webkit-transition: 0.6s ease max-height;
    -moz-transition: 0.6s ease max-height;
    -o-transition: 0.6s ease max-height;
    transition: 0.6s ease max-height;
}

.alert {
    display: inline-block;
    max-width: 85%;
    margin-bottom: 0;
}

.alert > a {
    color: #f3bebd;
}

.alert > a:hover {
    opacity: #f8725d;
}

#alert-close {
    display: inline-block;
    position: absolute;
    right: 26px;
    top: 16px;
    font-size: 24px;
    float: right;
    color: #fff;
}

#alert-close:hover {
    opacity: 0.6;
    cursor: pointer;
}

.wrapper {
    min-height: 100%;
    position: relative;
}

.content {
    padding-bottom: 122px; /* Height of footer */
}

a {
    color: #f3bebd;
}

.navItem > a {
    color: white;
}

a:hover {
    color: #f8725d;
    text-decoration: none;
}

p {
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.about {
    font-size: 18px;
    color: #000000;
}

.aboutContainer {
    background-color: #ffffff;
}

.right { float: right;}
.left { float: left;}

.logo {
    height: 10rem;
}

.escLogo {
    height: 5rem;
    padding-left: 0.4em;
}

@media (min-width: 1200px) {
  .container {
    width: 800px;
  }
}

.main-body {
    min-height: 90%;
    height: 24em;
}

.footer {
    clear: both;
    z-index: 10;
    background-color: #3e4953;
    color: #ffffff;
    padding: 50px 0 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.logoContainer {
    background-color: #2285c6;
    padding: 30px;
}

.navContainer {
    padding: 1rem 0rem;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 0px;
    /*
    Removes space between inline-block items. In this case,
    the space between the navItems.
    https://css-tricks.com/fighting-the-space-between-inline-block-elements/
    */

    background-color: #468fcc;
    text-align: center;
}

.textContainer {
    background-color: #468fcc;
    padding: 50px 0 40px;
    text-align: center;
}

.listContainer {
    background-color: #f0f0f0;
    padding: 30px 50px 30px 50px;
}


@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  /* background: #f2dede; */
    font-family: 'Open Sans', sans-serif;
}

.search {
    width: 100%;
    position: relative;
}

.searchContainer {
    position: relative;
}

.searchTerm {
    float: left;
    width: 100%;
    border: 2px solid #a5a2a2;
    padding: 5px;
    padding-left: 20px;
    height: 32px;
    border-radius: 60px;
    outline: none;
    color: #9DBFAF;
    margin: 0px auto 18px auto;
    background-color:transparent;
    font-family: 'Lato', sans-serif;
}

.searchTerm:focus{
    border: 3px solid #2285c6;
    color: #2285c6;
    background-color: white;
    font-size: 15px;
}

.searchButton {
    position: absolute;  
    right: 18px;
    top: 4px;
    width: 30px;
    border: none;
    background: transparent;
    text-align: center;
    color: #c5c2c2;
    font-size: medium;
}

.searchButton:focus {
    color: #a5a2a2;
}


.wrap{
    width: 65%;
    position: relative;
    margin-top: 18px;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*
    Starts CSS Format for Radio Buttons
*/
.btnContainer{
    display:inline-block;
    width: 100%;
    margin: 0px auto 18px auto;
    padding: 0 20px;
}

button.clear {
    border: none;
    background: none;
    color: #a5a2a2;
    outline: 0;
    padding: 0;
}

button.clear:hover {
    color: #2385c6;
}

#locationBtnContainer{
    display:inline;
    padding: 0 10px;
    position: relative;
    float: left;
}

#openBtnContainer{
    display: inline;
   
    padding: 0 10px;
    position: relative;
    text-align: right;
    float: right;
}

.btnContainer input{
    display: none;
}

.btnContainer label{
    cursor: pointer;
    color: #a5a2a2;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    margin-right: 15px;
}

.btnContainer label:hover{
    color: #2385c6;
}

.btnContainer input:checked + label{
    color: #2385c6;
}

select.day-picker {
    margin-left: 24px;
    border-color: #2285c6;
    border-radius: 4px;
    padding: 2px 8px;
    color: #2285c6;
    outline: none;
    border-width: 2px;
}

#mapContainer {
    width: 100%;
    padding: 25px 0;
    text-align: center;
}

#map {
    max-width: 100%;
}

.navItem {
    font-size: 18px;
    height: 100%;
    padding: 12px 30px;
}

.list-group {
    margin-bottom: 0;
    list-style-type: none;
}

.list-predict-item {
    background-color: white;
    font-family: 'Lato', sans-serif;
    border: 0;
    margin-bottom: 30px;
    padding: 15px 30px;
}

.graph{
    width: 100%;
    margin: 0 auto; 
}

.graphImg{
    width:100%;
    height:100%;
}

.docs-formatting {
    padding: 50px 15px;
}

.docs-formatting p {
    color: #000000;
}

.docs-formatting a {
    color: #D75F5D;
}

.thanksContainer {
    background-color: #f8725d;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    padding: 30px;
    text-align: center;
}

.thanksContainer h4 {
    font-weight: 300;
}

.list-group {
    margin-bottom: 0;
    margin-top: 0;
}

.list-group-item {
    font-family: 'Lato', sans-serif;
    border: 0;
    margin-bottom: 30px;
    padding: 15px 30px;
}

.list-group-item h4 {
    display: inline-block;
}

.progress {
    height: 25px;
    border-radius: 14px;
}

.progress-bar {
    line-height: 2;
}

.progress-bar-info {
    background-color: #468fcc;
}

.footer-text-mobile {
    display: none;
}

.mobile {
    display: none;
}

.nomobile {
    display: block;
}

.popup {
    text-align: left;
    visibility: hidden;
    background-color: #468fcc;
    color: #fff;
    padding: 1em;
    max-width: 30em;
    max-height: 100em;
    position: absolute;
}

.not-found {
    text-align: center;
    padding-top: 50px;
    font-size: 18px;
    font-family: Lato, sans-serif;
    line-height: 25px;
}

.app_store {
    margin: 0 auto;
    display: block;
    padding-bottom: 30px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.blue-btn {
    background-color: #468fcc;
    border-color: #2285c6;
}
.blue-btn:hover {
    background-color: #2285c6;
}

.update {
    color: gray;
    padding: 30px 0px 0px 0px;
    text-align: center;
}

@media screen and (max-width: 666px) {
    .logoContainer {
        padding: 10px;
    }

    .searchTerm {
        margin-bottom: 10px;
    }

    .searchButton {
        right: 33px;
    }

    .searchContainer {
        padding: 0 15px;
    }

    #nav-api {
        display: none;
    }

    h4 {
        font-size: 16px;
    }

    .btnContainer label {
        margin-right: 5px;
    }

    .textContainer {
        padding: 10px 0px;
    }

    .alert {
        font-size: 15px;
    }

    .content {
        padding-bottom: 94px; /* height of footer */
    }

    .listContainer {
        width: 100%;
        padding: 10px 0px 0px 0px;
    }

    .thanksContainer {
        padding: 10px 0px;
    }

    .container {
        width: 100%;
        padding: 0;
    }

    .about {
        font-size: 14px;
    }

    #expandable {
        max-height: 0;
        overflow: hidden;
        -webkit-transition: 0.6s ease max-height;
        -moz-transition: 0.6s ease max-height;
        -o-transition: 0.6s ease max-height;
        transition: 0.6s ease max-height;
    }

    #expandable.expanded {
        max-height: 10rem;
    }

    .logo {
        max-width: 100%;
        max-height: 100%;
    }

    .app_store {
        padding-bottom: 10px;
    }

    .mobile {
        display: block;
    }

    .nomobile {
        display: none;
    }

    .list-group-item {
        margin-bottom: 1px;
        padding: 8px 30px;
    }

    p {
        padding: 0px 15px;
    }

    .left {
        display: none;
    }

    .right {
        display: none;
    }

    .footer-text {
        text-align: center;
    }

    .footer {
        padding: 15px 20px;
    }

    .navContainer {
        padding: 1rem 0rem;
        font-weight: 300;
        font-size: 0px;
        /*
        Removes space between inline-block items. In this case,
        the space between the navItems.
        https://css-tricks.com/fighting-the-space-between-inline-block-elements/
        */
        background-color: #468fcc;
        text-align: center;
    }

    .navItem {
        padding: 5px 8px;
        font-size: 14px;
    }

    .update {
        padding: 10px;
    }

    .btnContainer{
        margin: 1px auto 4px auto;
    }

    #locationBtnContainer, #openBtnContainer{
        text-align: center;
        width: 100%;
    }
    select.day-picker {
        margin-left: 0;
        margin-bottom: 10px;
        padding: 0;
    }
}
