
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.pyc
*.swp
.DS_Store
.vagrant

.Python
pids
logs
results
include
share
lib/python2.7

config/settings.*
!config/settings.dev

bin/activate*
bin/easy_install*
bin/pip*
bin/python*
local

