density/.cache
.cache

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.pyc
*.swp
*.tsv
.DS_Store

.vagrant
.idea

.Python
pids
logs
results
include
share
lib/python2.7

scripts

config/settings.*
!config/settings.dev

bin/activate*
bin/easy_install*
bin/pip*
bin/python*
local
man
pip-selfcheck.json

scripts/density_dump.sql
density/client_secrets.json
