.env
density/.cache
.pytest_cache
.coverage
.cache
.vagrant

.ci/id_rsa
.pytest_cache
.vagrant

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.pyc
*.swp
*.tsv
.DS_Store
*.json
vagrant
.idea
.ipynb_checkpoints
*.sql
*.sh
!client_secrets.json

