[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
"oauth2client" = "*"
psycopg2 = "*"
"httplib2" = "*"
pandas = "*"
bokeh = "*"
werkzeug = "*"
apscheduler = "*"
psycopg2-binary = "*"

[dev-packages]
"flake8" = "*"
"flake8-bugbear" = "*"
"flake8-import-order" = "*"
pytest = "*"
pytest-cov = "*"
freezegun = "*"

[requires]
python_version = "3.6.6"
