html, body {
    min-height: 100%;
    background: rgb(214,249,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(214,249,255,1) 0%, rgba(158,232,250,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(214,249,255,1)), color-stop(100%,rgba(158,232,250,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(214,249,255,1) 0%,rgba(158,232,250,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(214,249,255,1) 0%,rgba(158,232,250,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(214,249,255,1) 0%,rgba(158,232,250,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(214,249,255,1) 0%,rgba(158,232,250,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6f9ff', endColorstr='#9ee8fa',GradientType=0 ); /* IE6-9 */
}

.navbar {
    background-color: #A1FFB8;
    border-radius: 0px;
}

a {
    color: #f3bebd;
}

a:hover {
    color: #f8725d;
    text-decoration: none;
}

p {
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.about {
    font-size: 18px;
}

.right { float: right;}
.left { float: left;}

.logo {
    height: 10rem;
}

.escLogo {
    height: 5rem;
    padding-left: 0.4em;
}

.navbar-default .navbar-brand {
    color: black;
}

.navbar-default .navbar-nav>li>a {
    color: black;
}

.navbar-default .navbar-toggle:focus {
    background-color: #A1FFB8;
}

.navbar-default .navbar-toggle:hover {
    background-color: #61F785;
}

@media (min-width: 1200px) {
  .container {
    width: 800px;
  }
}

.main-body {
    min-height: 90%;
}

.footer {
    clear: both;
    z-index: 10;
    background-color: #3e4953;
    color: #ffffff;
    padding: 50px 0 40px;
}

.logoContainer {
    background-color: #2285c6;
    padding: 50px;
}

.textContainer {
    background-color: #468fcc;
    padding: 50px 0 40px;
    text-align: center;
}

.listContainer {
    background-color: #f4f4f4;
    padding: 50px;
}

.thanksContainer {
    background-color: #f8725d;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    padding: 50px;
    text-align: center;
}

.thanksContainer h4 {
    font-weight: 300;
}

.list-group {
    margin-bottom: 0;
}

.list-group-item {
    font-family: 'Lato', sans-serif;
    border: 0;
    margin-bottom: 30px;
    padding: 15px 30px;
}

.progress {
    height: 25px;
    border-radius: 14px;
}

.progress-bar {
    line-height: 2;
}

.progress-bar-info {
    background-color: #468fcc;
}
