html, body {
    min-height: 100%;
    background: rgb(214,249,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(214,249,255,1) 0%, rgba(158,232,250,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(214,249,255,1)), color-stop(100%,rgba(158,232,250,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(214,249,255,1) 0%,rgba(158,232,250,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(214,249,255,1) 0%,rgba(158,232,250,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(214,249,255,1) 0%,rgba(158,232,250,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(214,249,255,1) 0%,rgba(158,232,250,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6f9ff', endColorstr='#9ee8fa',GradientType=0 ); /* IE6-9 */
}

.navbar {
    background-color: #A1FFB8;
    border-radius: 0px;
}

a, a:hover {
    color: inherit;
    text-decoration: underline;
}

.right { float: right;}

.logo {
    height: 8rem;
    margin: 2rem 0;
}

.navbar-default .navbar-brand {
    color: black;
}

.navbar-default .navbar-nav>li>a {
    color: black;
}

.navbar-default .navbar-toggle:focus {
    background-color: #A1FFB8;
}

.navbar-default .navbar-toggle:hover {
    background-color: #61F785;
}

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

.main-body {
    min-height: 90%;
}

.footer {
    clear: both;
    z-index: 10;
    height: 3em;
}