Flask
Flask-Mail
Jinja2
MarkupSafe
Werkzeug
argparse
blinker
colorama
flake8
gunicorn
html5lib
httplib2
itsdangerous
mccabe
oauth2client
pep8
psycopg2
pyasn1
pyasn1-modules
pyflakes
pytest
requests
rsa
six
urllib3
wsgiref
